html 
{
  scroll-behavior: smooth;
}

body
{
  margin: 0%;
  padding-top: 180px;
}

#header 
{
  overflow: hidden;
  background-color: AliceBlue;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 10px;
}

#header p
{
  font-size: 20px;
  font-weight: bold;
  color: black;
}

#header-options a
{
  float: left;
  color: black;
  margin: 20px;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}

#header-options a:hover 
{
  background-color: Aqua;
  color: black;
}

#home
{
  height: 1500px;
  background-color: blue;
}

#home p
{
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 0px;
}

#about
{
  height: 1500px;
  background-color: green;  
}

#skills
{
  height: 1500px;
  background-image: url('/Users/subashmuppalaneni/Documents/CS409/mp1/src/assets/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#skills p
{
  margin-top: 0px;
}

#skills ul
{
  list-style: none;
}

.carousel 
{
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.backward 
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.forward 
{
  right: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.backward:hover 
{
  background-color: black;
}
.forward:hover 
{
  background-color: black;
}

.number {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

#footer
{
  height: 1500px;
  background-color: black;

}
