@import "./styles.scss";

* {
    // margin: 15px;
}

.formReview {
    width: 400px;
    height: 100%;
    margin: 0px auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // border: 1px solid purple;
    // box-shadow: 0px 0px 2px black ;
}

.formControl {
    width: 100%;
}

.MuiFormHelperText-root {
    margin-left: 0 !important;
}

// .MuiFormHelperText-root {
//     margin: 0;
//     padding: 0;
// }

// p {
//     margin: 0;
//     padding: 0;
// }

h1 {
    // font-size: 16px;
    // border: 1px solid black;

    margin: 15px;
    align-self: baseline;
    font-weight: 100;
}

.component {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    width: calc(100% - 30px);
    // border: 1px solid black;
    &.passwordDiv {
        flex-direction: column;
    }
    &.submitDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // border: 1px solid red;
    }
    &.ratingDiv {
        width: auto;
        align-self: flex-start;
        // margin: 0;
    }
}

.MuiRating-sizeLarge {
    color: white;
    // font-
    stroke: white !important;
}

.MuiRating-root {
    font-size: 3rem !important;
    // stroke-co: 1px !important;
}

.MuiRating-iconEmpty {
    border: 0;
    // stroke-width: 3px !important;
    // font-weight: 900;
}

.MuiRating-icon {
    font-style: "normal" !important;
}

.MuiRating-icon {
    color: $compliment
}

.cancelButton
{
    background-color: $bold-accent;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    margin: 0;
    border: none;
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    height: 36px;
    border-radius: 18px;
}

.cancelButton:hover 
{
  background-color: $primary;
}

.cancelLink 
{
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}