@import "./styles.scss";

.mapWrapper {
    // border: 3px solid purple;
    margin-top: $navbar-height;
    width: 100%;
    height: calc(100vh - $navbar-height);// - $navbar-height);
    // background-color: black;
}

.navBar {
    box-shadow: 0px 0px 2px black;
}

.greyBoxImage
{
    height: 25%;
    width: 25%;
}