@import "./styles.scss";

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: $navbar-height;
    background-color: #AEE5D1;
    position: fixed;
    z-index: 99;
    top: 0;
    padding-right: 10px;
}

.navBarImg
{
    height: 100%;
    width: 138px;
}

.logoLink {
    align-self: flex-start;
}

.navButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navBarButtonDiv {
    margin: 0px 10px;
}

.navBarButton {
    margin-right: 24px;
}